{{!-- Banner --}}
<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-lg-12">
      <p class="text-center text-light display-4 pt-2 fontsize-25">CRUD Application Using Ember.js & Mirage</p>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>