<h1>emberjs-crud-example</h1>
<p>This is my CRUD example using ember.js and mirage.
    Github url: <a href="https://github.com/hskartono/emberjs-crud-example" target="_blank">https://github.com/hskartono/emberjs-crud-example</a></p>

<p>Function list:</p>
<ul>
  <li>{{#link-to "product"}}Master Data Product{{/link-to}}</li>
</ul>